a:hover,
button:hover,
input:hover {
  cursor: pointer;
}
/* Accardion*/
.accordion div {
  margin-bottom: 15px;
}
.accordion h1 {
  cursor: pointer;
}

.accordion h1 {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  padding-left: 25px;
  line-height: 16px;
  padding-bottom: 11px;
  padding-top: 11px;
  padding-left: 39px;
  margin-top: 0px;
  margin-bottom: 0px !important;
}
.accordion h1:hover {
  font-weight: bold;
  background-color: #d5d5d5 !important;
  border-radius: 8px;
}

.accordion div,
.accordion p {
  display: none;
}
.accordion h2 {
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 25px;
  font-size: 14px;
  border-radius: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.accordion h2:hover {
  font-weight: bold;
  background: #ededed;
  cursor: pointer;
}
.accordion .opened-for-codepen {
  display: block;
}
/* Accardion*/

/* popup*/

/* popup*/

/* categories IMG*/

#trends2021 {
  background: url(../img/testCatalog/trends2021.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}

#new {
  background: url(../img/testCatalog/new.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#maps {
  background: url(../img/testCatalog/maps.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#flowers {
  background: url(../img/testCatalog/flowers.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#_3D {
  background: url(../img/testCatalog/3D.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#stars {
  background: url(../img/testCatalog/stars.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#child {
  background: url(../img/testCatalog/child.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#old {
  background: url(../img/testCatalog/old.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#funny {
  background: url(../img/testCatalog/funny.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#dogs {
  background: url(../img/testCatalog/dogs.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#cats {
  background: url(../img/testCatalog/cats.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#more {
  background: url(../img/testCatalog/more.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#last {
  background: url(../img/testCatalog/last.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#kitchen {
  background: url(../img/testCatalog/kitchen.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#livinRoom {
  background: url(../img/testCatalog/livingRoom.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#bedroom {
  background: url(../img/testCatalog/bedroom.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
#cabinet {
  background: url(../img/testCatalog/cabinet.svg) no-repeat,
    url(../img/testCatalog/arrowDown.svg) no-repeat;
  background-position: left 7px top 50%, right 7px top 60%;
  background-size: 24px 24px, 12px 12px;
}
/* categories IMG*/
.mobileVersion {
  display: none;
}
.tagsFilter {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}
.tagsCatalog button {
  background: #f1f1f1;
  color: #898989;
  border-radius: 7px;
  border: 1px #f1f1f1;
}
.cateforiesCol ul {
  margin-left: 0;
  white-space: nowrap;
}
.cateforiesCol ul li:hover {
  font-weight: bold;
}
#allCategories {
  text-decoration: underline;
}
.cateforiesCol ul li p {
  padding-left: 30px;
  height: 34px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
#categoriesCatalog {
  display: flex;
}

.mainContainer #categoriesCatalog .col {
  margin-left: 0px;
  margin-bottom: 10px;
}
#color .col {
  display: flex;
  padding: 0%;
  margin-bottom: 18px;
}
#color .col .color {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  aspect-ratio: 1/1;
}
/* Color*/
.red {
  background: red;
}
.orange {
  background: #ff7a00;
}
.yellow {
  background: #ffd600;
}
.green1 {
  background: #adff00;
}
.green2 {
  background: #20bc4c;
}
.blue {
  background: #00d1ff;
}
.blue2 {
  background: #0047ff;
}
.violet {
  background: #ad00ff;
}
.pink {
  background: #ff00c7;
}
.bodyColor {
  background: #ffd8c2;
}
.grey {
  background: #905454;
}
.black {
  background: #000000;
}
.grey2 {
  background: #ababab;
}
.whites {
  background: #ffffff;
}
.blackWhite {
  background: linear-gradient(to right, black 50%, white 50%);
  transform: rotate(45deg);
}
/* Color*/
#catalogContainer {
  max-width: 1440px;
}
#catalogSearch {
  max-width: 1440px;
  padding-right: 0px;
  padding-left: 0px;
}
.cateforiesCol {
  max-width: 270px;
  padding: 0;
}
.Top {
  margin-top: 43px;
}
.questions {
  background: #6394ff;
  box-shadow: 1px 4px 7px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 270px;
  margin-top: 46px;
  aspect-ratio: 1/1;
  padding: 10%;
  position: sticky;
  top: 10px;
}

.questions h4 {
  font-size: 18px;
  color: white;
}
.cardsOrder {
  box-shadow: 4px 4px 7px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 4/3;
}
#categories {
  box-shadow: 4px 4px 7px -3px rgb(255, 255, 255);
  min-width: 228px;
}
#categories h3 {
  margin-top: 43px;
  font-size: 24px;
}
.cardsOrder img {
  width: 100%;

  border-radius: 10px;
}
.descriptionProducts {
  display: flex;
  justify-content: space-between;
  padding: 0px 13px 0px 13px;
}
.descriptionProducts div p {
  margin: 0;
}
.descriptionProducts div button {
  margin: 0;
  background: #ffd164;
  border-radius: 7px;
  border: 1px #ffd164;
  padding: 7px 5px;
  font-size: 14px;
  width: 100%;
  min-width: 145px;
}
.upploadMore {
  border-radius: 10px;
  border: 1px #ffd164;
  background: #ffd164;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  margin-top: 3px;
  margin-bottom: 30px;
}
.oldPrice {
  text-decoration-line: line-through;
  font-size: 14px;
  color: #828282;
}
.newPrice {
  font-size: 18px;
}
.favoriteImg {
  width: 29px !important;
  position: absolute;
  right: 9px;
  top: 9px;
  height: 29px;
}
.whiteLike {
  position: absolute;
  z-index: 0;
}

#sales {
  background: #6394ff;
  border-radius: 10px;
  padding: 3px 11px;
  height: 24px;
  width: 56px;
  height: 24px;
  color: white;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 14px;
}
#marginRight {
  margin-right: 21px !important;
}
.marginLeft {
  margin-left: 12px !important;
}
.inputNumber {
  background: #ffffff;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  padding: 10px 10px;
  border: 1px;
}
.submitNumber {
  background: #ffd164;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 13px 0px;
  border: 1px;
}
.questions h3 {
  margin-top: 0px !important;
  font-weight: bold;
  font-size: 24px;
  color: white;
}
.upploadImage {
  width: 200px;
  margin-left: 12px;
}
.upploadImageButton {
  width: 100%;
  background: #000000;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  display: flex;
  border: 1px black;
}
.upploadImageButton p {
  display: flex;
  width: 70%;
  margin-left: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.upploadImageButton img {
  margin-top: auto;
  margin-bottom: auto;
}
.cateforiesCol {
  display: flex;
}
.cardsCol {
  max-width: 100%;
  display: block;
}
.cardsCol .row {
  width: 100%;
  margin-top: 10px;
}
.cardsCol .container {
  max-width: 100% !important;
}
#productPage .container {
  max-width: 100% !important;
}
#oneCards {
  width: 100%;
}
#Categories {
  max-width: 20%;
  margin-right: 26px;
  min-width: 210px;
}
.cardsCol h5 {
  margin-top: 43px;
  margin-bottom: 16px;
}
.descriptionProducts .row .col {
  padding: 0;
}
.prices {
  max-width: 100px;
  margin-right: 16px;
  min-width: 100px !important;
  white-space: nowrap;
}

.tagsFilters {
  margin-bottom: 3px;
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  padding: 0 18px 0px 16px;
}
.tagsButton {
  max-width: 55%;
}
.tagsButton button {
  margin: 0;
  margin-bottom: 7px;
  background: #f1f1f1;
  border-radius: 7px;
  border: 1px #f1f1f1;
  padding: 5px;
  color: #898989;
  width: max-content;
}
.Filteres {
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
}
.Filteres img {
  margin-left: 5px;
  margin-bottom: 7px;
}
.twoButtons {
  width: 100%;
}
.whiteButton {
  margin-left: 0px;
}
.whiteButton button {
  background-color: white;
  color: black;
  border: 1px white;
}
#mobile {
  display: none !important;
}
.blurBacground {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100% !important;
  height: 100vh;
  backdrop-filter: blur(4px);
  z-index: 100;
}
.diActiveBackround {
  display: none;
}
.formOrder {
  background-color: white;
  width: 73.44%;
  height: max-content;
  position: fixed;
  top: 100px;
  left: 13.28065%;
  z-index: 101;
}
.formOrder .row {
  padding: 71px 71px 45px 65px;
}
.buyFoto {
  width: 100%;
  min-width: 356px;
  border-radius: 10px;
}
.mobileCategories {
  display: none;
  background-color: white;
  width: 100%;
  z-index: 1000000;
}
.showCategories {
  background-color: white;
  display: block;
  position: absolute;
  height: max-content;
  top: 0;
  padding: 0 25% 200px 25%;
}

.whiteBackground {
  display: none !important;
}
.exitCategories {
  position: fixed;
  top: 45px;
  right: 10%;
}
#mainCatalogBlock {
  padding-right: 0px;
  padding-left: 0px;
}
.relative {
  position: relative;
}
.mobCategories {
  max-width: 100% !important;
}
#none {
  display: none;
}
#mainCatalogBlock {
  margin-right: -17px;
}
@media screen and (max-width: 1000px) {
  .col-md-4 {
    max-width: 65%;
    min-width: 50%;
  }
  #Categories {
    min-width: 229px;
  }
  #categories {
    min-width: 229px;
    max-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .col-md-4 {
    max-width: 49%;
    min-width: 30%;
  }
  .tagsFilters {
    display: block;
  }
  .tagsButton {
    max-width: 100%;
  }
  .tagsFilters {
    padding-left: 6px;
  }
  #categories {
    max-width: 200px;
  }
  .container {
    padding-right: 8px;
    padding-left: 8px;
  }
  #mainCatalogBlock {
    margin-right: -3px;
  }
}
@media screen and (max-width: 750px) {
  .col-md-4 {
    max-width: 49%;
    min-width: 30%;
  }
}
@media screen and (max-width: 650px) {
  .col-md-4 {
    max-width: 100%;
    min-width: 40%;
  }
  .tagsButton {
    display: none;
  }
  .Filteres {
    margin-top: 43px;
    height: 28px;
  }
}

@media screen and (max-width: 500px) {
  .mobileVersion {
    display: block;
  }
  #Categories {
    display: none;
    width: 0px;
  }
  .col-md-4 {
    max-width: 50%;
    min-width: 150px;
  }
  .cardsCol .container {
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .seek {
    display: none;
  }

  .tagsButton {
    max-width: 100%;
  }
  .upper,
  #catalogContainer {
    margin-top: 5px;
  }
  #upperFilter {
    margin-top: 23px;
  }
  .buttons {
    margin-top: 8px;
  }
  #catalogSearch {
    margin-top: 0;
  }
  .wrap {
    width: 100%;
  }
  .upploadMore {
    width: 100%;
    margin-bottom: 22px;
  }
  .twoButtons button {
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .upploadImageButton p {
    margin-left: 0px;
  }
  .questions {
    aspect-ratio: unset;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 22px;
  }
  .searchTerm {
    font-size: 18px;
  }
  .Filteres {
    margin-top: 0;
    height: max-content;
    margin-bottom: 0px;
  }
  #mobile {
    display: flex !important;
  }
  .blocked {
    display: block !important;
  }
  #mainCatalogBlock {
    margin-left: -2px;
    min-width: calc(100% + 4px);
  }
}

@media screen and (max-width: 400px) {
  .col-md-4 {
    max-width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .showCategories {
    padding: 0 15% 0 15%;
  }
  .exitCategories {
    position: fixed;
    top: 45px;
    right: 5%;
  }
}
@media screen and (max-width: 350px) {
  .twoButtons button img {
    display: none;
  }
}
