#mainSection {
  margin: auto;
  max-width: 1400px;
  width: 100%;
  padding: 0;
  padding-top: 32px;

  padding-left: 16px !important;
  padding-right: 16px !important;
}

.mainSection {
  min-width: 100%;
}
.mainSection h3 {
  margin-top: 30px;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}
.mainMenu {
  max-width: 1440px;
  justify-content: space-between;
}
.mainMenu a {
  box-shadow: 1px 4px 7px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 31.872%;
}

#marginRightFirst,
#marginRightSecond {
  margin-right: 20px;
}
.mainMenu a .col img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 4/3;
}
.mainMenu a .col div span {
  margin-top: 5px;
}
.mainMenu a .col div span,
.smallMenu a .col div span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
}
.smallMenu a #small {
  box-shadow: 1px 4px 7px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  max-width: 100%;
  aspect-ratio: 1/1;
}
.smallMenu a #small img {
  height: 70px;
}
.smallMenu a #small div span {
  margin-bottom: 0;
}
.smallMenu {
  margin-top: 44.94px !important;
}
#margins {
  margin-left: 2%;
  margin-right: 2%;
}
.col {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
#secondParagraph {
  margin-top: 0;
}
.smallMenu {
  margin-bottom: 40px;
}
@media screen and (max-width: 645px) {
  .mainMenu a {
    width: 48.0027%;
  }
  #marginTop {
    margin-top: 15px;
  }
  #margins {
    margin-right: 0;
  }
}
.smallMenu a {
  width: 18%;
  max-width: 204px;
}
@media screen and (max-width: 900px) {
  #mainSection {
    padding: 0 !important;
  }
}
@media screen and (max-width: 750px) {
  .smallMenu a #small img {
    height: 50px;
  }
  .smallMenu a .col div span {
    font-size: 17px;
    line-height: 18px;
  }
}

@media screen and (max-width: 610px) {
  .smallMenu a .col div span {
    display: none;
  }
}
@media screen and (max-width: 495px) {
  .smallMenu a #small img {
    height: 35px;
  }
  .mainMenu a .col div span {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .smallMenu a #small img {
    height: 25px;
  }
}

@media screen and (max-width: 375px) {
  .mainMenu a .col div span {
    font-size: 15px;
  }
}
